@font-face{
  font-family: "NeoRetroDraw";
  src: url('../fonts/NEORF.ttf') format('truetype');
}

.header {
  background-size: cover;
  border-bottom: 1px solid #ccc;
}
 .ui.secondary.pointing.menu{
  background-color: #aac5de;
   border-color: #9eb1c1;
   padding: 10px 0 0;
} 
.ui.secondary.pointing.menu  li>a{
  color: #173870 ;
}
.myBrand{
  font-family: 'Delius', cursive;
  font-size: 2.8em;
  padding: .2em 1.5em 0 1em;
  color: #173870;
}
.cart{
    color: #173870;
}
.cart.label{
  background-color: none;
}
