.fullPage{
	padding-top: 15%;

}
 .ui .container{
	font-family: "Salut", serif;
	color: #173870;
}

h2.ui.header{
	font-family: "Salut", serif;
	color: #173870;
}

.ui .button{
	color: #173870;
	background: #aac5de;
}

.ui .button:hover{
	color: #173870;
	background: #f9f6e1;
}
h2, h3{
	font-family: "Salut", serif;
	color: #173870;
}