//Restaurant Dashboard Layout
.pageWrap{
	width: 100%;
	padding-bottom: 70px;
}
.pageWrap:after{
	clear: both;
	content: ' ';
	display: block;
}
.navWrap{
	width: 20%;
	float: left;
	margin: 65px 0 0;
}
.contentWrap{
	width: 80%;
	float: left;
	margin: 10px 0 0;
	padding: 10px;
}
.ui.card, .ui.cards>.card {
	max-width: 33%;
}
.invoice-header{
	border: 2px solid #eaeaea;
	color: #898989;
	text-align: center;
}

.align-right{
	text-align: right;
}
.checkout-sidebar{
	border: 2px solid #eaeaea;
	color: #898989;
}

.sidebar-content>h3{
	text-align: center;
	padding: 10px 0;
}
.sidebar-content{
	padding: 10px;
}
.checkout-button{
	background-color: #aac5de !important;
}

.innerGrid{
	padding: 0 !important;
}

.total-price{
	color: #aac5de;
	font-size: 18px;
	font-weight: 400;
}

//Supplier Signup Page
.group{
	padding: 1%;
}
.form{
	padding: 20px 0  70px 0;
}
.center{
	text-align: center;
}

