//Restaurant Dashboard Layout
.pageWrap{
	width: 100%;
	padding-bottom: 70px;
}
.pageWrap:after{
	clear: both;
	content: ' ';
	display: block;
}
.navWrap{
	width: 20%;
	float: left;
	margin: 65px 0 0;
}
.contentWrap{
	width: 80%;
	float: left;
	margin: 10px 0 0;
	padding: 10px;
}
//Supplier Signup Page
.group{
	padding: 1%;
}
.form{
	padding: 20px 0  70px 0;
}
.center{
	text-align: center;
}